@import '../../styles/variables.scss';

.nav {
  position: sticky;
  top: 93px;
  width: 150px;
  @media screen and (max-width: 768px) {
    display: none;
    position: static;
    margin-top: 15px;
  }

  .nav-links {
    padding: 0;
    margin: 0 0;
    list-style: none;
    text-transform: capitalize;
    .nav-link {
      &.sub::before {
        content: "-";
        margin: 0 5px;
      }
      &.current {
        font-weight: bold;
      }
    }
    a {
      color: inherit;
    }
  }
}