@import '../../styles/variables.scss';

.header {
  flex-shrink: 0;
  border-left: 1px solid var(--border-color);
  width: 228px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  @media screen and (max-width: 768px) {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px;
    min-height: auto;
    border-right: 0;
    border-bottom: 1px solid var(--border-color);
    background: var(--bg);
    z-index: 1;
  }

  .nav-toggle.active ~ .nav {
    display: block;
  }

  .header-logo {
    position: sticky;
    top: 23px;
    font-size: 1.5rem;
    @media screen and (max-width: 768px) {
      position: static;
    }
  }

  // headroom
  @media screen and (max-width: 768px) {
    &.headroom {
      will-change: transform;
      transition: transform 200ms linear;
    }
    &.headroom--pinned {
        transform: translateY(0%);
    }
    &.headroom--unpinned {
        transform: translateY(-100%);
    }
  }
}
